{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- about breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
  <div class="container page-wrapper text-center">
    <div class="header-section">
      <h2 class="mb-2">About Us</h2>
    </div>
    <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">About</span>
  </div>
</nav>
<!-- /about breadcrumbs -->
<section class="w3l-about1" id="about">
  <div id="content-with-photo4-block" class="pt-5">
    <div class="container py-md-3">
      <div class="row pt-md-3">
        <div class="col-lg-9 col-md-10 mx-auto">
          <div class="cwp4-two row">

            <div class="cwp4-text col-lg-6">
              <h3>Who we are?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>

              <ul class="cont-4">
                <li><span class="fa fa-check"></span>Online/Offline Classrooms</li>
                <li><span class="fa fa-check"></span>Personal Mentor Support</li>
                <li><span class="fa fa-check"></span>Lifetime Slack Chat Support Lorem, ipsum dolor.</li>
                <li><span class="fa fa-check"></span>Job Placement Support </li>
              </ul>
            </div>
            <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
              <img src="assets/images/about.jpg" class="img-fluid shadow img-curve" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-about2">
  <div class="features py-5">
    <div class="container py-lg-3">
      <div class="row pt-md-3">
        <div class="col-lg-9 col-md-10 mx-auto">
          <div class="fea-gd-vv">
            <div class="float-lt feature-gd">
              <div class="about-info">
                <h5>Our History</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad
                  minim veniam, quis nostrud.
                </p>
                <ol>
                  <li>overall student-athelete GPA for Spring 2020</li>
                  <li>bachelor's recipients were employed or both within six months of</li>
                  <li>gradueates hold a position related to their degree or career objective</li>
                  <li>overall student-athelete GPA for Spring 2020</li>
                  <li>overall student-athelete GPA for Spring 2020</li>
                  <li>bachelor's recipients were employed or both within six months of</li>
                  <li>gradueates hold a position related to their degree or career objective</li>
                  <li>overall student-athelete GPA for Spring 2020</li>
                </ol>
              </div>

            </div>
            <div class="float-mid feature-gd mt-5">
              <div class="about-info">
                <h5>Our intention</h5>
                <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ut perspiciatis voluptas sint autem, officiis, iure quisquam nam ratione error, temporibus saepe ipsam quas architecto?</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad
                  minim veniam, quis nostrud. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laborum officiis doloribus dignissimos, impedit perferendis dolores quam nemo pariatur incidunt assumenda accusamus modi nihil in, illum facere, deleniti iusto ut a hic nobis. Reiciendis illum, obcaecati quidem repellat ea, laboriosam ut minima culpa dolor, nobis et suscipit ad perferendis magni!
                </p>
              </div>
            </div>

            <div class="float-rt feature-gd mt-5">
              <div class="about-info">
                <h5>Our Vision</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                  ad
                  minim veniam, quis nostrud.
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eaque eius aliquid, animi hic minima pariatur, ipsam quisquam qui molestiae fugiat vitae eos sed quos? Illum unde est temporibus accusamus tempore tenetur adipisci officiis et numquam voluptatum quam doloribus vel eveniet ad maxime veritatis, saepe autem necessitatibus in quas nihil voluptate. Sed obcaecati dicta ut quibusdam, incidunt ea suscipit labore? Commodi quisquam quaerat corrupti dolor doloribus expedita nihil?</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about -->
<section class="w3l-about4 py-5">
  <div class="container py-lg-3">
    <div class="row pt-md-3">
      <div class="col-lg-9 col-md-10 mx-auto">
        <div class="row align-items-center">
          <div class="col-md-6 book-info">
            <h3 class="mb-md-4 mb-3">Start Growing With Community & Experience Endless Possibilities</h3>
            <p class="mb-md-5 mb-4">Get started with a free 1 month trial for your business</p>
            <a href="#URL" class="btn btn-primary theme-button">Join Us</a>
          </div>
          <div class="col-md-6 mt-md-0 mt-4">
            <img src="assets/images/s3.jpg" class="img-fluid img-curve shadow" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about -->
<section class="w3l-about3">
	<!-- /features -->
	<div class="features py-5" id="services">
		<div class="container py-lg-3">
			<div class="header-section text-center">
				<h3>Education for Everyone</h3>
        <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sit labore dolores aliquam possimus deleniti cupiditate temporibus, repudiandae suscipit asperiores vel.</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="feature-gd">
						<div class="icon"> <span class="fa fa-laptop" aria-hidden="true"></span></div>
						<div class="icon-info">
							<h5 class="my-3"><a href="#url">Experience Design</a></h5>
							<p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua, quis nostrud.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
				<div class="feature-gd">
					<div class="icon"> <span class="fa fa-pencil-square-o" aria-hidden="true"></span></div>
					<div class="icon-info">
						<h5 class="my-3"><a href="#url">Product Course</a></h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, quis nostrud.</p>
					</div>
				</div>
				</div>
				
				<div class="col-lg-4 col-md-6">
				<div class="feature-gd">
					<div class="icon"> <span class="fa fa-podcast" aria-hidden="true"></span></div>
					<div class="icon-info">
						<h5 class="my-3"><a href="#url">Content Engineering</a></h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, quis nostrud.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="feature-gd">
					<div class="icon"> <span class="fa fa-users" aria-hidden="true"></span></div>
					<div class="icon-info">
						<h5 class="my-3"><a href="#url">Coaching Course</a></h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, quis nostrud.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="feature-gd">
					<div class="icon"> <span class="fa fa-book" aria-hidden="true"></span></div>
					<div class="icon-info">
						<h5 class="my-3"><a href="#url">Content Engineering</a></h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, quis nostrud.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="feature-gd">
					<div class="icon"> <span class="fa fa-laptop" aria-hidden="true"></span></div>
					<div class="icon-info">
						<h5 class="my-3"><a href="#url">Experience Design</a></h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua, quis nostrud.</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- //features -->
</section>
<section class="w3l-about5" id="about">
  <div class="new-block py-3">
    <div class="container py-lg-5">
      <div class="middle-section text-center">
        <div class="header-section text-center mx-auto">
          <h3>Learn from any location in the world</h3>
          <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Nulla mollis dapibus nunc, ut rhoncus
            turpis sodales quis. Integer sit amet mattis quam.</p>
        </div>
        <div class="history-info mt-5">
          <div class="position-relative">
            <img src="assets/images/b2.jpg" class="img-fluid img-curve video-popup-image" alt="video-popup">
            <!-- <a href="#popup-video" class="play-view text-center position-absolute">
						<span class="video-play-icon">
							<span class="fa fa-play"></span>
						</span>
					</a> -->

            <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
              <span class="video-play-icon">
                <span class="fa fa-play"></span>
              </span>
            </a>

            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
              <iframe src="https://www.youtube.com/embed/a5KYlHNKQB8" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/team-sec-->
<section class="w3l-team">
  <div class="team py-5">
    <div class="container py-lg-3">
      <div class="header-section text-center mx-auto">
        <h3>Meet Our Skilled Teachers</h3>
        <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row team-row pt-3 mt-5">
        <div class="col-lg-3 col-sm-6 team-wrap">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="assets/images/team1.jpg" alt="" class="img-fluid team-image" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Max Stoiber</a></h3>
              <p>Founder & CEO</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- end team member -->
        

        <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid team-image" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Dhony Abraham</a></h3>
              <p>Managing Partner</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>

        </div>
        <!-- end team member -->

        <div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid team-image" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Marko Dugonji</a></h3>
              <p>Cheif Executive</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">
          <div class="team-info">
            <div class="column position-relative img-circle">
              <a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid team-image" /></a>
            </div>
            <div class="column-btm">
              <h3 class="name-pos"><a href="#url">Rhoda Byrd</a></h3>
              <p>Technology Officer</p>
              <div class="social">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>

        </div>
        <!-- end team member -->
        
      </div>
    </div>
</section>
<!--//team-sec-->
<!-- getstarted -->
<section class="w3l-getstarted py-5">
  <div class="container py-md-3 text-center">
    <div class="header-section mx-auto">
      <h3>Ready to get started? </h3>
      <p class="my-3"> We love conversations, and would love to have one with you! Whether you’re looking for a speaker, an awesome career, or want to get started with a rewards program, we would love hear from you.</p>
    </div>
    <div class="buttons mt-5">
      <a href="contact.html" class="btn btn-outline-primary mr-2 theme-button">Book a Demo</a>
      <a href="login.html" class="btn btn-primary theme-button ml-2">Get Started</a>
    </div>
  </div>
</section>
<!-- / getstarted -->
{% endblock content %}