{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- index-block1 -->
<div class="w3l-index1">
  <div class="content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 content-left">
          <h3>Towards Quality Education.
          </h3>
          
          <p class="mt-3 mb-lg-5 mb-4">Driving Educational Empowerment through Analytics</p>
          <form class="form-inline search-course d-flex">
            <!-- <input type="search" class="form-control mb-2 mr-sm-2" id="inlineFormInput" placeholder="What do you want to learn?" required="required"> -->
            <button type="submit" class="btn btn-primary theme-button mb-2" style="width: 80%;"><a href="{% url 'model' %}">Guess your Grade</a></button>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!-- //index-block1 -->

<!-- index-block2 -->
<section class="w3l-index2 py-5">
  <div class="container py-md-3">
    <div class="header-section text-center mx-auto">
      <h3>Why 'PROJECT 4/4'?</h3>
      <p class="my-3"> The Department of Education, Government of India, is actively investigating the underlying factors influencing student performance, aligning with UN Sustainable Development Goal 4 - Quality Education.</p>
    </div>
    <div class="row bottom_grids pt-md-3 text-center">
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="s-block">
          <a href="{% url 'report' %}" class="d-block p-lg-4 p-3">
            <img src="{% static 'images/s1.png' %}" alt="" class="img-fluid img-curve" />
            <h3 class="my-3"><a href="{% url 'report' %}">Insights for Action</a></h3>
            <p class="">Unlock actionable insights from the dataset to inform targeted interventions and improve student outcomes.</p>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="s-block">
          <a href="blog-single.html" class="d-block p-lg-4 p-3">
            <img src="{% static 'images/s3.png' %}" alt="" class="img-fluid img-curve" />
            <h3 class="my-3">Quick Overview</h3>
            <p class="">Explore findings that contribute to fostering inclusive and equitable education, aligning with SDG 4 principles.</p>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5">
        <div class="s-block">
          <a href="{% url 'index' %}" class="d-block p-lg-4 p-3">
            <img src="{% static 'images/s2.png' %}" alt="" class="img-fluid img-curve" />
            <h3 class="my-3">User-Friendly Interface</h3>
            <p class="">Experience the user-friendly interface showcasing predictions and analysis, making data accessible to all stakeholders.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /index-block2 -->
<!-- index-block2 -->



{% endblock content %}
