{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
  <div class="container page-wrapper text-center">
    <div class="header-section">
      <h2 class="mb-2">Predict your score</h2>
    </div>
    <a href="{% url 'index' %}">Home</a> » <span class="breadcrumb_last" aria-current="page">Contact</span>
  </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
  <div class="contact-infubd py-5">
    <div class="container py-lg-3">
      <div class="contact-grids row">
        <div class="col-lg-6 contact-left">
          <div class="partners">
            <div class="cont-details">
                <h5>Welcome</h5>
            </div>
            <div class="hours">
              <h6 class="mt-4">Email:</h6>
              <p> <a href="mailto:mail@literate.com">
                mail@literate.com</a></p>
              <h6 class="mt-4">Visit Us:</h6>
              <p> 78-80 Upper St Giles St. Norwich NR2 1LT United Kingdom.</p>
              <h6 class="mt-4">Contact:</h6>
              <p class="margin-top"><a href="tel:+44-255-366-88">+44-255-366-88</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
            <form action="{% url 'model2' %}" method="POST" class="signin-form">
                {% csrf_token %}
                <!-- <div class="input-grids">
                  <div class="form-group">
                    <select id="gender" style="margin-bottom: 5%; background-color:rgb(27, 26, 41); border: 1px solid #7c7c7c;  color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" name="sex">
                      <option value="">--SELECT GENDER--</option>
                      <option value="1">Male</option>
                      <option value="0">Female</option> -->
                      <!-- Add more options as needed -->
                    <!-- </select>
                  </div> -->
                  <div class="form-group">
                    <input type="text" name="age" id="w3lName" placeholder="Your Age*" class="contact-input" />
                  </div>
                  <!-- <div class="form-group"> -->
                    <!-- <input type="select" name="w3lSubect" id="w3lSubect" placeholder="Subject*" class="contact-input" /> -->
                    <!-- urban = 0 , rural = 1 -->
                    <!-- <select name="address" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                      <option value="">--SELECT ADDRESS--</option>
                      <option value="0">URBAN</option>
                      <option value="1">RURAL</option>
                    </select>
                  </div>
                </div> -->
                
                
                <div class="form-group">
                  <select required name="Medu" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">-- Pleasen Select Your Mother's education level--</option>
                    <option value="0">None</option>
                    <option value="1">Primary education (4th grade)</option>
                    <option value="2">5th to 9th grade</option>
                    <option value="3">secondary education</option>
                    <option value="4">Higher Education</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="Fedu" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Pleasen Select Your Father's education level--</option>
                    <option value="0">None</option>
                    <option value="1">Primary education (4th grade)</option>
                    <option value="2">5th to 9th grade</option>
                    <option value="3">secondary education</option>
                    <option value="4">Higher Education</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="Fjob" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Please Provide Your Mother's Career Information--</option>
                    <option value="0">At Home</option>
                    <option value="1">Health</option>
                    <option value="3">Services</option>
                    <option value="4">Teacher</option>
                    <option value="2">Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="Mjob" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Please Provide Your Father's Career Information--</option>
                    <option value="0">At Home</option>
                    <option value="1">Health</option>
                    <option value="3">Services</option>
                    <option value="4">Teacher</option>
                    <option value="2">Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="reason" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--SELECT Reason for selecting the current Institution--</option>
                    <option value="0">Course</option>
                    <option value="2">Near to Home</option>
                    <option value="3">Reputation</option>
                    <option value="1">Other</option>
                  </select>
                </div>
                
               
                <div class="form-group">
                  <select required name="Studytime" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--How much time do you Study --</option>
                    <option value="1">Less than 2 hours</option>
                    <option value="2">2 to 5 hours </option>
                    <option value="3">5 to 10 hours</option>
                    <option value="4">Greater than 10 hours</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="failures" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--How many times have you Failed a Class--</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4 or more times.</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="schoolsup" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Are you Financially Sound--</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <select required name="paid" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Attending any extra paid Tutions--</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                  </select>
                </div>
                
                
                <div class="form-group">
                  <select required name="higher" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Wants to Pursue Higher Education--</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                  </select>
                </div>
                
                
                <div class="form-group">
                  <select required name="famrel" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--How Happy are you about your Family--</option>
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="freetime" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">-- how much Free Time do you get--</option>
                    <option value="0">Very Less</option>
                    <option value="1">Less</option>
                    <option value="2">Moderate</option>
                    <option value="3">Good</option>
                    <option value="4">Very Good</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="goout" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--How Often You Go Out--</option>
                    <option value="0">Very Less</option>
                    <option value="1">Less</option>
                    <option value="2">Moderate</option>
                    <option value="3">Quite</option>
                    <option value="4">Quite Often</option>
                  </select>
                </div>
                <div class="form-group">
                  <select required name="traveltime" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--How much Time To Reach The Educational Inst?--</option>
                    <option value="0">less than 15 min</option>
                    <option value="1">15 to 30 min</option>
                    <option value="2"> 30 min to 1 hr</option>
                    <option value="3">More than 1 </option>
                  </select>
                </div>
                <!-- <div class="form-group">
                  <select name="Walc" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--Weekly Alcohol--</option>
                    <option value="1">Very Low</option>
                    <option value="2">Low</option>
                    <option value="3">Moderate</option>
                    <option value="4">High</option>
                    <option value="5">Very High</option>
                  </select>
                </div> -->
                <div class="form-group">
                  <select required name="health" style="margin-bottom: 5%; background-color: rgb(27, 26, 41); border: 1px solid #7c7c7c; color: #7c7c7c; width:100%; height:8vh; border-radius: 6px;" id="">
                    <option value="">--How do you Rate Your Health Condition--</option>
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                    <option value="3">4</option>
                    <option value="4">5</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" name="absence" id="w3lSender" placeholder="Number of Days Absent In a Year*" class="contact-input" required="" />
                </div>
                <div class="form-group">
                  <input type="text" name="G1" id="w3lSender" placeholder="Term 1 Marks (Out of 100)*" class="contact-input" required="" />
                </div>
                <div class="form-group">
                    <input type="text" name="G2" id="w3lSender" placeholder="Term 2 Marks (Out of 100)*" class="contact-input" required="" />
                  </div>
                
                <!-- <div class="form-group">
                  <input type="number" name="G2 " id="w3lSender" placeholder="Grade 2*" class="contact-input" required="" />
                </div>
                <div class="form-group">
                  <input type="number" name="G3 " id="w3lSender" placeholder="Grade 3*" class="contact-input" required="" />
                </div> -->
    
    
    
    
                <div class="text-right">
                  <button class="btn btn-primary theme-button">Predict Score</button>
                </div>
              </form>
        </div>
        {% for i in result %}
        <h2 style="padding:20px; border: 2px solid rgb(255, 159, 159); color: rgb(255, 255, 255); border-radius: 15px;">Your expected marks is : {{i|floatformat:2}}</h2>
        {% endfor %}
      </div>
      <div class="map mt-5 pt-md-5">
        
      </div>
    </div>
</section>
<!-- /contact-form -->

{% endblock content %}